.App {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 1500px;
  background-color: white;
  overflow-x: hidden;
  animation-name: color-change;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes color-change {
  to {
    background-color: orange;
  }
}
